
<div class="container">
     <img src="https://source.unsplash.com/1600x900/?cocktail,<%=@cocktail.name%>" class="img">
    <h3> Here is what you need to do a <%= @cocktail.name %> ! </h3>
    <table align="center" class="tbl">
      <thead>
        <tr>
          <th>Ingredients</th>
          <th>Doses</th>
        </tr>
      </thead>
      <tbody>
      <% @cocktail.doses.each do |dose| %>
      <tr>
        <td><%= link_to "edit", edit_cocktail_dose_path(@cocktail, dose) %></td>
        <td> <%= dose.ingredient.name %> </td>
        <td> <%= dose.description %> </td>
        </tr>
      <% end %>
    </tbody>
    </table>
  <br>
    <h3>  Mix it up and enjoy! </h3>
    <br>
    <%= link_to "Add Ingredients", new_cocktail_dose_path(@cocktail), :class => "btn-show" %>
    <%= link_to "home", cocktails_path(@cocktails), :class => "btn-show" %>
    <br>
  </div>


